PORT=8000
HOSTNAME=0.0.0.0
NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://everest.r-e.kr:8080/graphql
NEXT_PUBLIC_GRAPHQL_WS_ENDPOINT=ws://everest.r-e.kr:8080/graphql/ws
NEXT_PUBLIC_API_BASE_URL=http://everest.r-e.kr:8080
